@keyframes rotateLeftRight {
    0% {
        transform: rotate(-4deg);
    }

    50% {
        transform: rotate(4deg);
    }

    100% {
        transform: rotate(-4deg);
    }
}

.rotate-animation {
    animation: rotateLeftRight 0.2s linear infinite;
}