@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f0eff4;
}

.MuiDataGrid-root{
  flex-direction: column-reverse !important;
}

.MuiDataGrid-columnHeaderTitle {
  font-weight: 800 !important;
}

.MuiDataGrid-root .MuiDataGrid-columnHeader .MuiDataGrid-menuIcon {
  width: auto;
  visibility: visible;
}
