@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0eff4;
  font-family: "Montserrat", sans-serif;
}

.MuiDataGrid-root {
  flex-direction: column-reverse !important;
  background-color: white;
}

.MuiDataGrid-columnHeaderTitle {
  font-weight: 500 !important;
}

.MuiDataGrid-root .MuiDataGrid-columnHeader .MuiDataGrid-menuIcon {
  width: auto;
  visibility: visible;
}

.customCheckbox.Mui-checked .MuiSvgIcon-root {
  color: green; /* Change this color for checked state */
}
.MuiDataGrid-aggregationColumnHeader {
  background-color: red;
}

.MuiCheckbox-colorPrimary.Mui-checked {
  color: #07c684 !important; /* Change this color for checked state */
}

.MuiCheckbox-colorPrimary {
  color: #07c684 !important; /* Change this color to your desired color */
}

.MuiDataGrid-columnHeaderTitle {
  color: #858686;
}

.MuiDataGrid-root.MuiDataGrid-row.Mui-selected {
  background-color: green;
}

.MuiDataGrid-actionsCell {
  background-color: bisque;
}

.MuiDataGrid-columnHeader {
  background-color: #efefef;
}

.recharts-wrapper {
  width: 150px !important ;
  height: 150px !important;
}

@media only screen and (max-width: 768px) {
  .recharts-wrapper {
    width: 60px !important;
    height: 60px !important;
  }
}
